// .dz-progress {
//   display: none !important;
// }



.dropzone .dz-preview .dz-image {
    border-radius: 2px;
}

.dropzone .dz-preview:hover .dz-progress {
    opacity: 0;
}

.dropzone .dz-preview .dz-image img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-filter: blur(8px);
    filter: blur(3px);
}

.dropzone .dz-preview .dz-progress {
    top: 78%;
    margin-top: 0px;
    border-radius: 2px;
    height: 10px;
}

.dropzone .dz-preview .dz-progress .dz-upload {
    background: #333;
    background: linear-gradient(to bottom, #666, #444);
}


.dropzone .dz-preview.dz-processing:not(.dz-complete) {
  background-image: url(/public/imgs/loading.gif) ;
  background-size: 70%;
      background-repeat: no-repeat;
      background-position: center
}

.dropzone .dz-preview.dz-processing:not(.dz-complete) .dz-progress {
    opacity: 0;
}

.dropzone .dz-preview.dz-processing:not(.dz-complete)  .dz-image {
  opacity: 0.75 !important;
}



.dropzone .dz-preview.dz-complete .dz-image img{
  -webkit-filter: blur(0px);
  filter: blur(0px);


}




#new-submission {
    position: relative;
}

.opacity-fade {
    opacity: 0.6;
}

.form-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

.form-loader .v-moon1 {
    height: 60px !important;
    width: 60px !important;
}

.form-loader .v-moon2 {
    height: 5.28571px !important;
    width: 5.28571px !important;
    border-radius: 100% !important;
    top: 25.8571px !important;
    opacity: 1 !important;
    background-color: #333 !important;
}

.form-loader .v-moon3 {
    height: 60px !important;
    width: 60px !important;
    opacity: 0.2 !important;
    border: 5.71429px solid #000 !important;
}